backports.functools-lru-cache==1.5
certifi==2018.8.24
chardet==3.0.4
Click==7.0
community==1.0.0b1
cycler==0.10.0
decorator==4.3.0
dill==0.2.8.2
fastdtw==0.3.2
Flask==1.0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
JPype1==0.6.3
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mkl-fft==1.0.6
mkl-random==1.0.1
multiprocess==0.70.6.1
networkx==2.2
numpy==1.15.2
pandas==0.23.4
pathos==0.2.2.1
patsy==0.5.0
pox==0.2.4
ppft==1.6.4.8
prettytable==0.7.2
pycairo==1.17.1
pyparsing==2.2.2
PySAL==1.14.4.post2
python-dateutil==2.7.3
python-igraph==0.7.1.post6
pytz==2018.5
requests==2.19.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
sklearn==0.0
statsmodels==0.9.0
subprocess32==3.5.2
tqdm==4.26.0
urllib3==1.23
Werkzeug==0.14.1
